@import 'https://fonts.googleapis.com/css?family=Exo:300,600,800';

* {
  box-sizing: border-box;
}

body {
  background-color: #2A2927;
  color: white;
  font-family: 'Exo', serif;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  background-color: #00B96A;
  padding: 5px;
}

.container {
  background-color: #00864B;
  padding: 16px;
}

.grid {
  max-width: 500px;
  height: 470px;
}

.grid__square {
  display: block;
  height: 64px;
  width: 64px;
  margin: 3px;
  width: 150px;
  height: 150px;
  background-color: #00B96A;
  float: left;
  line-height: 150px;
  text-align: center;
  font-size: 125px;
  font-weight: 800;
  font-family: 'Exo', serif;
}

.score {
  background-color: black;
  width: 500px;
  margin: 5px;
  height: 30px;
  line-height: 20px;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
}

.score__name {
  float: left;
  color: #ccc;
}

.score__name--you {
  color: #00B96A;
  float: left;
}

.score__number {
  float: right;
  font-weight: 600;
}

.winner {
  font-size: 20px;
  max-width: 500px;
  text-align: center;
  margin: 10px;
}